<% if @sushi %>
<h2><%= @sushi.name %> Team's Landscape:</h2>
<% end %>


<h4 class="red-text"> Address: <%= @landscape.address %></h4>
<h4 class="red-text"> Area (square feet): <%= @landscape.area %></h4>
<% if @landscape.user_id  %>
    <h4 class="red-text"> User_id: <%= @landscape.user_id %></h4>
<% end %>
<% if @landscape.team_id  %>
    <h4 class="red-text"> Team_id: <%= @landscape.team_id %></h4>
<% end %>
