<!DOCTYPE html>
<html>
  <head>
    <title>V LandScape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <% if logged_in? %>
      <%= button_to "Log out", logout_path, method: :delete %>
      <%= button_to "Home", user_path(current_user.id), method: :get %>
      <h6><%= link_to("All Landscapes",landscapes_path) %></h6>
      <h6><%= link_to("Search Landscapes",search_landscapes_path) %></h6>
    <% else %>
      <%= button_to "Login", '/login', method: :get %>
      <%= button_to "Sign Up", '/users/new', method: :get %>
    <% end %>

  <body>
  
    <%= flash[:notice] %>
    <%= flash[:error] %>
  
    <%= yield %>
  </body>
</html>
